@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
	font-family: "Hahmlet", serif;
}

.main-title {
	font-family: "Playfair Display", serif; !important;
	font-size: 4rem;
}

.main-img {
	max-height: 80vh;	
}

.sub-heading {
	font-family: "Playfair Display", serif; !important;
	font-size: 3rem;
}

.content-center {
			display: flex;
			justify-content: center;
			align-items: center;
}

.navbar-item {
	font-family: "Hahmlet", serif;
}

.navbar-burger > span {
  height: 3px; !important;
}

.full-height {
	min-height: 100vh; !important;
	/* scroll-snap-align: start; */
}

.logo {
	min-height: 8rem;
}
/*navbar-burger span:nth-child(3) {
  bottom: calc(50% + var(--bulma-burger-gap));
}*/
html {
  scroll-behavior: smooth;
}

.backtotop {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  bottom: 20px;
  right: 10px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  background-color: #ED3137;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
}

.backtotop img {
  width: 50%;
  height: auto;
}

.backtotop.active {
  opacity: 1;
  visibility: visible;
}

.backtotop:hover {
  background-color: #F15941;
}

.primary-outlined {
	border-style: solid;
    border-width: max(1px, 0.0625em);
    border-color: #ed3137;
}